<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        {% if messages %}
        <div id="message-box" name="message-box">
            {% for message in messages %}
                <p class="message-box alert {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="inputBox">
                <input type="username" id="username" name="username" required>
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="password" name="password" required>  
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="{% url 'signup' %}">Don't have an account? Sign Up</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const messageBox = document.getElementById("message-box");
            if (messageBox) {
                setTimeout(() => {
                    messageBox.style.opacity = "0";
                    messageBox.style.transition = "opacity 1s ease";
                    setTimeout(() => {
                        messageBox.style.display = "none";
                    }, 1000); // Hide the message box after 5 seconds
                }, 5000);
            }
        });
    </script>
</body>
</html>
