<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        {% if messages %}
        <div id="message-box" name="message-box">
            {% for message in messages %}
        <p 
            class="message-box {% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}">
            {{ message }}

        </p>
    {% endfor %}
        </div>
        {% endif %}
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <h2>Sign up</h2>
            <div class="inputBox">
                <input type="email" name="email" required>
                <span>E-Mail</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="username" name="username" required>
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="tel" name="phone_number" required>
                <span>Phone number</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required>
                <span>Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="confirm_password" required>
                <span>Confirm Password</span>
                <i></i>
            </div>
            <div class="usertype">
                <select name="user_type" required>
                    <option value="" disabled selected>Select User Type</option>
                    <option value="vendor">Vendor</option>
                    <option value="user">User</option>
                </select>
                <span>User Type</span>
            </div>            
            <div class="links">
                <a href="{% url 'login' %}">Already have an account? login</a>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const messageBox = document.getElementById("message-box");
            if (messageBox) {
                setTimeout(() => {
                    messageBox.style.opacity = "0";
                    messageBox.style.transition = "opacity 1s ease";
                    setTimeout(() => {
                        messageBox.style.display = "none";
                    }, 1000); // Hide the message box after 5 seconds
                }, 5000);
            }
        });
    </script>
</body>
</html>
